.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff
.tags*
.deps
*.pdf
*.tt
*.out

# Ignore IDE files
/.idea/
/nbproject/

reports/
traces/
users/
saved_traces/

# Ignore build artifacts
.*.*.cmd
.*.d
.*.S
*.ko
*.mod
*.mod.cmd
*.mod.c
Module.symvers
modules.order

# example bins
smt-examples/smt_setkey
